@{
    ViewData["Title"] = "Landing";
}

<div class="container">
    <h1>Welcome to Wallet Web</h1>
    <p>Please login or register to access Wallet Web.</p>
    <div class="buttons">
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
</div>
